<div class="bank extender" *ngIf="!visible">
  <div class="mobile">
    <div class="profile">
      <figure class="profile__avatar">
        <img src="https://i.ibb.co/G78wzN3/sophie.png" />
      </figure>
      <div class="profile__name">
        Buenos dias, {{ usuario?.usuairo.nombre }}
      </div>
    </div>
    <div class="card">
      <button
        class="card__button cursor_pointer"
        (click)="solicitaTarjetaCredito()"
      >
        Solicitar Tarjeta de Credito
      </button>
    </div>
  </div>
</div>

<div class="bank" *ngIf="visible">
  <div class="mobile">
    <div class="profile">
      <figure class="profile__avatar">
        <img src="https://i.ibb.co/G78wzN3/sophie.png" />
      </figure>
      <div class="profile__name">
        Buenos dias, {{ usuario?.usuairo.nombre }}
      </div>
    </div>
    <div class="balance">
      <div class="balance__text">Total Credito</div>
      <div class="balance__amount">
        {{ usuario?.tarjetaCredito?.limite_credito | currency : "MXN" : "symbol" }}
      </div>
    </div>
    <div class="card">
      <div class="card__information">
        <div class="card__information__text">Credito ocupado</div>
      </div>
      <button class="card__button cursor_pointer" (click)="navegar()">
        {{
          usuario?.tarjetaCredito?.saldo_actual | currency : "MXN" : "symbol"
        }}
      </button>
    </div>
    <div class="tabs">
      <nav class="nav">
        <div class="nav__tab nav__tab--active">
          <span class="nav__tab__text">Movimientos</span>
        </div>
      </nav>
      <div class="indicator"></div>
      <div class="contents">
        <div class="content">
          <div
            class="transaction"
            *ngFor="let transaccion of usuario?.transacciones"
            [ngClass]="{ esconder__signo: transaccion?.tipo != 2 }"
          >
            <div class="transaction__who transaction__who--apple">
              <figure><img src="https://i.ibb.co/Br7zP94/apple.png" /></figure>
              <div class="transaction__who__about">
                <div class="transaction__who__name">
                  {{ transaccion.concepto }}
                </div>
                <div class="transaction__who__type">
                  {{ transaccion.descripcion }}
                </div>
              </div>
            </div>
            <div class="transaction__data">
              <div
                class="transaction__data__amount"
                [ngClass]="{
                  'transaction__data__amount--menos': transaccion.nombre_remitente ==null,
                  'transaction__data__amount--depot': transaccion.isAdd == 1
                }"
              >
                <span [ngClass]="{ esconder__signo: transaccion.isAdd == 1 }">
                  -
                </span>
                <span [ngClass]="{ esconder__signo: transaccion.isAdd == 0 }">
                  +
                </span>
                {{ transaccion.monto | currency }}
              </div>
              <div class="transaction__data__date">
                {{ transaccion.fecha_transaccion | date : "dd MMM h:mm a" }}
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
