<h2 class="ultimaConexion productgrid__title">Ultima conexion: {{usuario.fecha_ultimo_acceso}}</h2>
<div class="gridCuentas">
  <div class="article-card">
    <div class="content">
      <p class="title">Cuenta: {{usuario.numeroCuenta}}</p>
      <p class="date">Saldo: {{usuario.saldo}}</p>
    </div>
    <img
      src="https://images.unsplash.com/photo-1482877346909-048fb6477632?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=958&q=80"
      alt="article-cover"
      
    />
  </div>
</div>
