<!--=============== HEADER ===============-->
<header class="header">
  <nav class="nav container">
    <div class="nav__data cursor_pointer">
      <a class="nav__logo">
        <i class="ri-bank-fill" (click)="navegar('inicio')"></i> BBUAM
      </a>
      <div
        class="nav__toggle"
        id="nav-toggle"
        (click)="showMenu('nav-toggle', 'nav-menu')"
      >
        <i class="ri-menu-line nav__burger"></i>
        <i class="ri-close-line nav__close"></i>
      </div>
    </div>

    <div class="nav__menu" id="nav-menu">
      <ul class="nav__list">
        <li class="dropdown__item" *ngFor="let menu of menu.menus">
          <div class="nav__link">
            {{ menu.titulo }}
            <i
              [ngClass]="{
                'ri-arrow-down-s-line dropdown__arrow': !!menu.submenus
              }"
            ></i>
          </div>

          <ul class="dropdown__menu">
            <li class="dropdown__subitem" *ngFor="let submenu of menu.submenus">
              <div class="dropdown__link" (click)="navegar(submenu.url)">
                {{ submenu.titulo }}
                <i
                  [ngClass]="{
                    'ri-add-line dropdown__arrow': !!submenu.subsubmenus
                  }"
                ></i>
              </div>

              <ul
                class="dropdown__submenu"
                *ngFor="let subsubmenu of submenu.subsubmenus"
              >
                <li>
                  <div class="dropdown__link" (click)="navegar(subsubmenu.url)">
                    {{ subsubmenu.titulo }}
                  </div>
                </li>
              </ul>
            </li>
          </ul>
        </li>
      </ul>
    </div>

    <div
      class="nav__data esconde__menu"
      [ngClass]="{
        esconder: !loginOrcuenta
      }"
    >
      <ul class="header__actions__ulist">
        <li
          class="header__actions__list header__actions--tablet-hidden header__actions--mobile-hidden"
        >
          <a
            class="header__actions__item__link header__createaccount"
            (click)="navegar('cuenta/inicio')"
          >
            <i style="margin-right: 8px" class="ri-user-line"></i>
            <span class="cursor_pointer">{{ nombre }}</span>
          </a>
        </li>

        <li
          itemprop="name"
          class="header__actions__list header__actions--tablet-left"
        >
          <div
            data-component="access"
            (click)="navegar('inicio'); clearSesion()"
          >
            <a
              class="header__actions__item__link header__actions--menu header__access"
            >
              <span
                class="header__actions__item__link__text header__access__text--desktop"
                >Salir</span
              >
              <span
                class="header__actions__item__link__text header__access__text--tablet"
                >Salir</span
              >
              <span
                class="header__actions__item__link__text header__access__text--mobile"
                >Salir</span
              >
            </a>
          </div>
        </li>
      </ul>
    </div>

    <div
      class="nav__data esconde__menu"
      [ngClass]="{
        esconder: loginOrcuenta
      }"
    >
      <ul class="header__actions__ulist">
        <li
          class="header__actions__list header__actions--tablet-hidden header__actions--mobile-hidden"
        >
          <a
            class="header__actions__item__link header__createaccount"
            (click)="navegar('inicio/registro')"
          >
            <i style="margin-right: 8px" class="ri-user-add-line"></i>
            <span class="cursor_pointer">Hazte cliente</span>
          </a>
        </li>

        <li
          itemprop="name"
          class="header__actions__list header__actions--tablet-left"
        >
          <div
            data-component="access"
            class="esconder__chico"
            (click)="navegar('inicio/login')"
          >
            <a
              class="header__actions__item__link header__actions--menu header__access"
            >
              <span
                class="header__actions__item__link__text header__access__text--desktop"
                >Acceso</span
              >
              <span
                class="header__actions__item__link__text header__access__text--tablet"
                >Acceso</span
              >
              <span
                class="header__actions__item__link__text header__access__text--mobile"
                >Acceso</span
              >
            </a>
          </div>
        </li>
      </ul>
    </div>
  </nav>
</header>
