.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: var(--black-color);
  box-shadow: 0 2px 16px hsla(220, 32%, 8%, 0.3);
  z-index: var(--z-fixed);
}

/*=============== NAV ===============*/
.nav {
  height: var(--header-height);
}

.nav__logo,
.nav__burger,
.nav__close {
  color: var(--white-color);
}

.nav__data {
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav__logo {
  display: inline-flex;
  align-items: center;
  column-gap: 0.25rem;
  font-weight: var(--font-semi-bold);
  /* Color highlighting when pressed on mobile devices */
  /*-webkit-tap-highlight-color: transparent;*/
}

.nav__logo i {
  font-weight: initial;
  font-size: 1.25rem;
}

.nav__toggle {
  position: relative;
  width: 32px;
  height: 32px;
}

.nav__burger,
.nav__close {
  position: absolute;
  width: max-content;
  height: max-content;
  inset: 0;
  margin: auto;
  font-size: 1.25rem;
  cursor: pointer;
  transition: opacity 0.1s, transform 0.4s;
}

.nav__close {
  opacity: 0;
}

/* Navigation for mobile devices */
@media screen and (max-width: 1118px) {
  .nav__menu {
    position: absolute;
    left: 0;
    top: 2.5rem;
    width: 100%;
    height: calc(100vh - 3.5rem);
    overflow: auto;
    pointer-events: none;
    opacity: 0;
    transition: top 0.4s, opacity 0.3s;
  }
  .nav__menu::-webkit-scrollbar {
    width: 0;
  }
  .nav__list {
    background-color: var(--black-color);
    padding-top: 1rem;
  }
}

.nav__link {
  color: var(--white-color);
  background-color: var(--black-color);
  font-weight: var(--font-semi-bold);
  padding: 1.25rem 1.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: background-color 0.3s;
}

.nav__link:hover {
  background-color: var(--black-color-light);
}

/* Show menu */
.show-menu {
  opacity: 1;
  top: 3.5rem;
  pointer-events: initial;
}

/* Show icon */
.show-icon .nav__burger {
  opacity: 0;
  transform: rotate(90deg);
}
.show-icon .nav__close {
  opacity: 1;
  transform: rotate(90deg);
}

/*=============== DROPDOWN ===============*/
.dropdown__item {
  cursor: pointer;
}

.dropdown__arrow {
  font-size: 1.25rem;
  font-weight: initial;
  transition: transform 0.4s;
}

.dropdown__link,
.dropdown__sublink {
  padding: 1.25rem 1.25rem 1.25rem 2.5rem;
  color: var(--white-color);
  background-color: var(--black-color-light);
  display: flex;
  align-items: center;
  column-gap: 0.5rem;
  font-weight: var(--font-semi-bold);
  transition: background-color 0.3s;
}

.dropdown__link i,
.dropdown__sublink i {
  font-size: 1.25rem;
  font-weight: initial;
}

.dropdown__link:hover,
.dropdown__sublink:hover {
  background-color: var(--black-color);
}

.dropdown__menu,
.dropdown__submenu {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.4s ease-out;
}

/* Show dropdown menu & submenu */
.dropdown__item:hover .dropdown__menu,
.dropdown__subitem:hover > .dropdown__submenu {
  max-height: 1000px;
  transition: max-height 0.4s ease-in;
}

/* Rotate dropdown icon */
.dropdown__item:hover .dropdown__arrow {
  transform: rotate(180deg);
}

/*=============== DROPDOWN SUBMENU ===============*/
.dropdown__add {
  margin-left: auto;
}

.dropdown__sublink {
  background-color: var(--black-color-lighten);
}

/*=============== BREAKPOINTS ===============*/
/* For small devices */
@media screen and (max-width: 340px) {
  .container {
    margin-inline: 1rem;
  }

  .nav__link {
    padding-inline: 1rem;
  }
}

/* For large devices */
@media screen and (min-width: 1118px) {
  .container {
    margin-inline: auto;
  }

  .nav {
    height: calc(var(--header-height) + 2rem);
    display: flex;
    justify-content: space-between;
  }
  .nav__toggle {
    display: none;
  }
  .nav__list {
    height: 100%;
    display: flex;
    column-gap: 3rem;
  }
  .nav__link {
    height: 100%;
    padding: 0;
    justify-content: initial;
    column-gap: 0.25rem;
  }
  .nav__link:hover {
    background-color: transparent;
  }

  .dropdown__item,
  .dropdown__subitem {
    position: relative;
  }

  .dropdown__menu,
  .dropdown__submenu {
    max-height: initial;
    overflow: initial;
    position: absolute;
    left: 0;
    top: 6rem;
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.3s, top 0.3s;
  }

  .dropdown__link,
  .dropdown__sublink {
    width: 240px;
    padding-inline: 1rem 3.5rem;
  }

  .dropdown__subitem .dropdown__link {
    padding-inline: 1rem;
  }

  .dropdown__submenu {
    position: absolute;
    left: 100%;
    top: 0.5rem;
  }

  /* Show dropdown menu */
  .dropdown__item:hover .dropdown__menu {
    opacity: 1;
    top: 5.5rem;
    pointer-events: initial;
    transition: top 0.3s;
  }

  /* Show dropdown submenu */
  .dropdown__subitem:hover > .dropdown__submenu {
    opacity: 1;
    top: 0;
    pointer-events: initial;
    transition: top 0.3s;
  }
}

.header__icon {
  display: inline-block;
  margin: 2px 8px 0;
}
.header__actions__item__link {
  font-family: BentonSansBBVA-Medium, Helvetica, Arial, sans-serif;
  font-size: 14px;
  line-height: 24px;
  text-align: center;
  color: #fff;
  opacity: 1;
  padding: 0;
  display: block;
}
.header__actions__item__link:focus,
.header__actions__item__link:hover {
  text-decoration: none;
}
.header__actions--menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.header__access__text--tablet {
  display: none;
}
.header__access:focus,
.header__access:hover {
  background-position: 0 center;
}
.header__createaccount {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.header__createaccount .bbva-svgicon {
  top: -2px;
}
.header__createaccount {
  padding-left: 8px;
}
.header__createaccount .bbva-svgicon {
  -webkit-filter: brightness(0) saturate(100%) invert(78%) sepia(13%)
    saturate(1766%) hue-rotate(2deg) brightness(105%) contrast(94%);
  filter: brightness(0) saturate(100%) invert(78%) sepia(13%) saturate(1766%)
    hue-rotate(2deg) brightness(105%) contrast(94%);
}
.header__createaccount:hover .bbva-svgicon {
  -webkit-filter: brightness(0) saturate(100%) invert(100%) sepia(100%)
    saturate(0) hue-rotate(204deg) brightness(104%) contrast(102%);
  filter: brightness(0) saturate(100%) invert(100%) sepia(100%) saturate(0)
    hue-rotate(204deg) brightness(104%) contrast(102%);
}
.header__createaccount {
  opacity: 1;
  color: #f8cd51;
}
.header__createaccount:focus,
.header__createaccount:hover {
  color: #fff;
}
@media (min-width: 0) and (max-width: 991px) {
  .header__actions--tablet-right {
    padding-right: 8px;
  }
  .header__actions--tablet-left {
    padding-left: 8px;
  }
  .header__actions__ulist {
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }
  .header__actions__item__link__text {
    position: relative;
    top: 2px;
  }
  .header__access__text--desktop {
    display: none;
  }
}
@media (min-width: 0) and (max-width: 599px) {
  .header__actions--mobile-hidden {
    display: none;
  }
  .header__access__text--mobile {
    display: inline-block;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    vertical-align: middle;
    max-width: 64px;
  }
}

@media (min-width: 600px) {
  @media (min-width: 600px) {
    .header__access__text--mobile {
      display: none;
    }
  }
  @media (min-width: 600px) and (max-width: 991px) {
    .header__actions--tablet-hidden {
      display: none;
    }
    .header__access__text--tablet {
      display: inline-block;
    }
  }
  @media (min-width: 992px) {
    .header__icon {
      margin-top: -2px;
    }
    .header__access .header__icon {
      display: none;
    }
    .header__actions__ulist {
      float: right;
    }
    .header__actions__list {
      display: inline-block;
      vertical-align: middle;
    }
    .header__actions__list:last-child .megamenu__trigger {
      margin-right: 0;
    }
    .header__actions__item__link {
      font-size: 13px;
      line-height: 16px;
    }
    .header__actions__item__link {
      font-size: 14px;
      line-height: 88px;
      -webkit-transition: line-height 0.16667s;
      transition: line-height 0.16667s;
      margin: 0 8px;
    }
    .header__access {
      font-family: BentonSansBBVA-Medium, Helvetica, Arial, sans-serif;
      font-size: 15px;
      line-height: 24px;
      will-change: background-position;
      background-size: 210% 100%;
      background-position: 99% center;
      background-repeat: no-repeat;
      -webkit-transition: background-position 0.66667s
        cubic-bezier(0.24, 0.22, 0.31, 1.07);
      transition: background-position 0.66667s
        cubic-bezier(0.24, 0.22, 0.31, 1.07);
      background-color: #800080;
      background-image: linear-gradient(100deg, #f8cd51 50%, #ffa500 50%);
      color: #fff;
      text-align: center;
      padding: 14px 24px;
      margin-left: 24px;
      background-color: #028484;
      cursor: pointer;
    }
    .header__access__text--desktop {
      display: inline-block;
    }
  }
}


.esconder{
  display: none;
}


