<div class="principal_cuenta_container">
    <div class="container-cuenta">

        <h2 class="productgrid__title">Prestamos Activos</h2>

       
           
            <meta name="viewport" content="width=device-width, initial-scale=1">
            <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
            <body>
            
            <div class="w3-container">

              <div style="text-align: center;">
              <table class="w3-table-all" >
                <thead>
                  <tr class="w3-red">
                    <th>Numero Cliente</th>
                    <th>Nombre</th>
                    <th>Monto</th>
                    <th>Fecha de vencimiento</th>
                    <th>Link a pago</th>
                   
                  </tr>
                </thead>
                <tr>
                  <td>1234433222</td>
                  <td>Jill</td>
                  <td>$50000.00</td>
                  <td>12/12/2023 </td>
                  <td><button>Pagar</button></td>
                 
                </tr>
                <tr>
                  
                </tr>
                <tr>
                  
                </tr>
              </table>

            </div>
             
            </div>
         
        

