<div
  class="containerAVISO"
  data-dl-component=""
  data-dl-component-name="textandimage"
  data-dl-component-type="BBUAM/pwebs/components/par/textandimage"
  id="content-textandimage"
>
  <div class="textandimage__base textandimage__base--center">
    <h1 class="textandimage__title">Aviso Legal</h1>

    <p
      itemprop="headline"
      class="textandimage__subtitle textandimage__subtitle--BBUAM600"
    >
      La información contenida en este portal hace referencia a los productos y
      servicios financieros comercializados por BBUAM México, S.A. Institución de
      Banca Múltiple, Casa de Bolsa BBUAM, S. A. de C. V., BBUAM Asset Management
      México, S. A. de C. V., Sociedad Operadora de Fondos de Inversión, BBUAM
      Seguros México, S. A. de C. V., BBUAM Pensiones México, S.A. de C.V., y
      BBUAM Seguros Salud México, S.A. de C.V. todas entidades financieras
      integrantes del Grupo Financiero BBUAM México, S.A. de C.V. sobre nuestro
      desempeño frente a los usuarios, por la prestación de productos y
      servicios.
    </p>

    <div class="textandimage__article">
      <div
        class="textandimage__text rte textandimage__text--BBUAM500"
        itemprop="text"
      >
        <p>
          Los productos financieros descritos hacen referencia, exclusivamente,
          a la normatividad que rige en los Estados Unidos Mexicanos y son
          formulados para las operaciones que se realicen dentro de dicho
          territorio.
        </p>
        <p>
          La información contenida en este portal es solo enunciativa, por lo
          que de ninguna manera constituye una oferta vinculante que obligue al
          usuario y a las mencionadas entidades del&nbsp;Grupo Financiero BBUAM
          México,&nbsp; S.A. de C.V. a celebrar contrato alguno en relación con
          tales operaciones.
        </p>
        <p>
          Las entidades integrantes del Grupo Financiero BBUAM México, S.A. de
          C.V., se reservan el derecho de modificar la información aquí
          contenida cuando lo estimen conveniente y sin previo aviso.
        </p>
        <p>
          En los servicios de BBUAM.mx, con el objeto de garantizar la seguridad
          y confidencialidad de las transacciones, es necesaria la previa
          identificación y autenticación del usuario en el sistema a través de
          la solicitud de clave de acceso y contraseña.
        </p>
        <p>
          Las citadas entidades del&nbsp;Grupo Financiero BBUAM México,&nbsp;
          S.A. de C.V. no asumen responsabilidad alguna con los contenidos y
          servicios comerciales o de otra índole, páginas web que se puedan
          enlazar electrónicamente (<i>link</i>) directa o indirectamente a
          través del presente portal, ni del intercambio de información
          electrónica entre usuarios de la red internet y no adquiere ninguna
          responsabilidad por causa de problemas técnicos que se pudieran
          producir en equipos informáticos que se utilicen durante la conexión a
          la red internet, ya sea a través de este portal o de otras páginas
          web.
        </p>
        <p>
          Los derechos de propiedad intelectual de este portal, de las pantallas
          que muestran estas páginas, y de la información y material que
          aparecen en las mismas y de su disposición, pertenecen respectivamente
          a las entidades integrantes del Grupo Financiero BBUAM México, S.A. de
          C.V., salvo que se indique lo contrario.
        </p>
        <p>
          Los logotipos de las entidades integrantes del Grupo Financiero BBUAM
          México, S.A. de C.V., así como las marcas denominativas y mixtas de
          servicios y nombres comerciales que aparezcan en este portal son
          marcas registradas propiedad del Grupo Financiero BBUAM México, S.A. de
          C.V..
        </p>
        <p>&nbsp;</p>
        <p><b>Privacidad y protección de datos personales</b></p>
        <p>
          Entidades integrantes del&nbsp;Grupo Financiero BBUAM México, S.A. de
          C.V. comprometidos con la privacidad, confidencialidad y protección de
          los datos personales de nuestros clientes, por esta razón, hemos
          implementado medidas de seguridad, administrativas, físicas y técnicas
          para proteger tus datos personales, contra daño, perdida, alteración,
          destrucción, uso, acceso o tratamiento no autorizado.
        </p>
        <p>
          En las&nbsp;entidades integrantes del Grupo Financiero BBUAM México,
          S.A. de C.V., cumplimos con los principios de protección de datos
          personales, mismos que establecen la forma en la que se recaba,
          utiliza, almacena, comparte, transmite, elimina o trata tus datos
          personales.
        </p>
        <p>
          El estándar de seguridad que establece el presente Aviso Legal,
          proporciona una protección adecuada y consistente para el tratamiento
          de tus datos personales.&nbsp;
        </p>
        <p>&nbsp;</p>
        <p><b>Licitud</b></p>
        <p>
          En todo momento las entidades integrantes del&nbsp;Grupo Financiero
          BBUAM México, S.A. de C.V. tratarán tus datos personales de conformidad
          con las disposiciones aplicables de la legislación mexicana. Como
          usuario de este sitio te sometes expresamente a las leyes y tribunales
          aplicables en Ciudad de México, renunciando a cualquier otra
          jurisdicción que por cualquier motivo pudiese llegar a ser aplicable.
          El acceso y utilización de este sitio se encuentra sujeto a las
          disposiciones aplicables de la legislación mexicana.&nbsp;
        </p>
        <p><b>Consentimiento&nbsp;</b></p>
        <p>
          Las entidades integrantes del&nbsp;Grupo Financiero BBUAM México, S.A.
          de C.V. utilizan datos personales para brindarte un mejor servicio,
          para ello deberá contar con tu consentimiento tácito o expreso, en el
          entendido de que dicho consentimiento en ningún momento será condición
          para la contratación de cualquier operación o servicio.
          Adicionalmente,&nbsp; podemos allegarnos de más información a través
          de otras fuentes para cerciorarse de que los datos recopilados se
          obtuvieron de forma correcta y completa. Esas fuentes de información
          pueden provenir, previa autorización tuya, de Sociedades de
          Información Crediticia, entre otras.
        </p>
        <p><b>Información</b></p>
        <p>
          Te invitamos a leer el Aviso de Privacidad para conocer lo relativo a
          la existencia y características principales del tratamiento al que
          serán sometidos tus datos personales.&nbsp;
        </p>
        <p><b>Calidad</b></p>
        <p>
          Haremos todo lo posible por mantener tu información completa y
          actualizada, estos esfuerzos solamente se realizarán por nuestros
          medios oficiales y en ningún momento solicitaremos claves, contraseñas
          o información de tus tarjetas.&nbsp;
        </p>
        <p><b>Finalidad&nbsp;</b></p>
        <p>
          Las entidades integrantes del&nbsp;Grupo Financiero BBUAM México, S.A.
          de C.V. tratarán tus datos personales únicamente para las finalidades
          que te hayamos informado. Adicionalmente, de conformidad con la
          legislación vigente en materia de Protección y Defensa al Usuario de
          Servicios Financieros, como cliente podrás manifestar tu deseo de no
          recibir publicidad relacionada con los productos y servicios que
          proporcionan las&nbsp;entidades integrantes del Grupo Financiero BBUAM
          México, S.A. de C.V., registrándote en el Registro Público de Usuarios
          (“REUS”) de la Comisión Nacional para la Protección y Defensa de los
          Usuarios de Servicios Financieros (“CONDUSEF”).
        </p>
        <p><b>Lealtad</b></p>
        <p>
          En todo momento velaremos por salvaguardar la expectativa razonable de
          privacidad y trataremos tus datos personales de manera confidencial,
          asimismo, limitaremos el acceso a los mismos a aquellas personas que
          específicamente los necesiten para dar cumplimiento a la relación
          jurídica establecida.
        </p>
        <p><b>Proporcionalidad</b></p>
        <p>
          Únicamente recolectaremos los datos personales que resulten
          necesarios, y por medios oficiales establecidos.
        </p>
        <p><b>Responsabilidad</b></p>
        <p>
          En las entidades integrantes del&nbsp;Grupo Financiero BBUAM México,
          S.A. de C.V. hemos adoptado medidas para garantizar el debido
          tratamiento de tus datos, privilegiando tus intereses como titular y
          respetando la expectativa razonable de privacidad. Sin embargo, no nos
          responsabilizamos de daños o perjuicios derivados del acceso, uso o
          mala utilización de los contenidos de este portal, por terceros no
          autorizados, además de no asumir responsabilidad alguna con los
          contenidos y servicios comerciales o de otra índole con páginas web
          que se puedan enlazar electrónicamente (link) directa o indirectamente
          a través del portal&nbsp;<a href="http://www.BBUAM.mx/">www.BBUAM.mx</a
          >. Asimismo,&nbsp;&nbsp;las entidades integrantes del&nbsp;Grupo
          Financiero BBUAM México, S.A. de C.V. no asumen responsabilidad alguna
          que derive del intercambio de información electrónica entre usuarios
          de la red Internet y no adquiere ninguna responsabilidad por causa de
          problemas técnicos que se pudieran producir en equipos informáticos
          que se utilicen durante la conexión a la red Internet, ya sea a través
          del portal de&nbsp;las entidades integrantes del&nbsp;Grupo Financiero
          BBUAM México, S.A. de C.V. o de otras páginas web.
        </p>
      </div>
    </div>
  </div>
</div>
